<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dongyun.sangdang"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sangdang_Material">

        <receiver android:name=".util.BootReceiver"
            android:process=":remote"/>
        <activity
            android:name="com.dongyun.sangdang.activity.MainActivity"
            android:screenOrientation="portrait"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/Theme.Sutaek_Material.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Appinfo"
            android:screenOrientation="portrait"
            android:label="@string/info"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.NoticesContents"
            android:screenOrientation="portrait"
            android:label="@string/notices" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongyun.sangdang.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.EventsContents"
            android:screenOrientation="portrait"
            android:label="@string/schoolevent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongyun.sangdang.activity.SchoolEvent" />
        </activity>
        <activity
            android:name="com.dongyun.sangdang.activity.NoticesActivity"
            android:screenOrientation="portrait"
            android:label="@string/notices"
            android:theme="@style/Theme.Sutaek_Material.NoActionBar"
            android:parentActivityName="com.dongyun.sangdang.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongyun.sangdang.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.NParentsContents"
            android:screenOrientation="portrait"
            android:label="@string/notices_parents">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongyun.sangdang.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SchoolEvent"
            android:screenOrientation="portrait"
            android:label="@string/schoolevent"
            android:parentActivityName="com.dongyun.sangdang.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongyun.sangdang.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Meal"
            android:screenOrientation="portrait"
            android:label="@string/meal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongyun.sangdang.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Schedule"
            android:screenOrientation="portrait"
            android:label="@string/schedule"
            android:theme="@style/Theme.Sutaek_Material.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongyun.sangdang.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Schoolintro"
            android:screenOrientation="portrait"
            android:label="@string/schoolintro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongyun.sangdang.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Doc_Readme"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_doc__readme"
            android:parentActivityName=".activity.Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Appinfo" />
        </activity>
        <activity
            android:name=".activity.Doc_Contributors"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_doc__contributors"
            android:parentActivityName=".activity.Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Appinfo" />
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
    </application>

</manifest>
